#timeline-title {
    text-align: center;
}

#term-list {
    display: inline-block;
    float: right;
}

.posts {
    margin-top: 10px;
}

.posts .col-md-2 h5 {
    float: right;
    margin-top: 0px;
}

.senators .row .col-md-2 {
	background: #b19cd9;
	border: 1px solid white;
	padding: 6%;
	cursor: pointer;
}

.senators .row .col-md-2:hover {
	border: 1px solid black;
}

.senators .row .col-md-2 h5{
	color: white;
	margin: 0px;
}