.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}
.navbar-inner {
    text-align:center;
}
.navbar li a:hover{
    text-decoration: underline;
}
.titlePage {
    padding-top: 10px;
}
.titlePage h1 {
    text-align: center;
}

.titlePage .row {
    text-align: center;
}
.titlePage h3 a {
    text-decoration: none;
    color: black;
}

.titlePage h3 a:hover {
    text-decoration: underline;
}

.titlePage h3 {
    margin: auto;
    width: 600px;
    padding: 15px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#timeline-title {
    text-align: center;
}

#term-list {
    display: inline-block;
    float: right;
}

.posts {
    margin-top: 10px;
}

.posts .col-md-2 h5 {
    float: right;
    margin-top: 0px;
}

.nodocs {
    text-align: center;
}

.senators .row .col-md-2 {
    border: 1px solid white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 230px;
    width: 230px;
    cursor: pointer;
    padding-top: 80px;
}

.senators .row .col-md-2:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.senators .row .col-md-2 h5 {
    text-align: center;
    vertical-align: middle;
}
