.main {
	height: calc(100% - 52px);
}
.navbar {
	margin: 0px;
}
html, body, .major, .major .col-md-4 {
	height: 100%;
}
.major {
	padding-top: 20px;
}
.major .panel {
	height: 90%;
}
.school {
	background: #dff0d8;
	cursor: pointer;
}
.delete {
	cursor: pointer;
	float: right;
}
.major .panel.panelOfMajors {
	height: 40%;
	overflow: auto;
}
.major .panel.panelOfSchools {
	height: 40%;
	overflow: auto;
}
.major .panel.panelOfSchools .list-group-item,  .major .panel.panelOfMajors .list-group-item {
	cursor: pointer;
}
.major .btn.addButton {
	width: 100%;
}
.major .selected {
	background: #dff0d8;
}
/* Profile */
.sidebar {
	float: left;
	background: yellow;
	width: 30%;
	height: 100%;
}
.graph {
	float: left;
	/*border-color: red;*/
	width: 70%;
	height: 100%;
}
