body, html, .main {
    height: 100%;
    width: 100%;
}

.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}
.navbar-inner {
    text-align:center;
}
.navbar li a:hover{
    text-decoration: underline;
}

.titlePage {
    height: 100%;
    width: 100%;
}

.titlePage h1 {
    margin-top: 15%;
    text-align: center;
}

.titlePage .row {
    text-align: center;
}
.titlePage h3 a {
    text-decoration: none;
    color: black;
}

.titlePage h3 a:hover {
    text-decoration: underline;
}

.titlePage h3 {
    margin: auto;
    width: 600px;
    padding: 15px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#timeline-title {
    text-align: center;
}

#term-list {
    display: inline-block;
    float: right;
}

.posts {
    margin-top: 10px;
}

.posts .col-md-2 h5 {
    float: right;
    margin-top: 0px;
}

.senators .row .col-md-2 {
    background: #b19cd9;
    border: 1px solid white;
    padding: 6%;
    cursor: pointer;
}

.senators .row .col-md-2:hover {
    border: 1px solid black;
}

.senators .row .col-md-2 h5{
    color: white;
    margin: 0px;
}
