<div class="container" id="timeline">
    <div class="header"> 
        <h2 id="timeline-title">{{dates.selected.name}}</h2>
        <div class="row">
          <div class="col-md-2 col-md-offset-10">
              <select class="form-control"
                ng-options="option.name for option in dates.data track by option.name"
                ng-model="dates.selected"
                ng-change="getDocs(dates.selected.start_date, dates.selected.end_date)">
              </select>
          </div>
        </div>
    </div>
    <div class="posts">
        <div class="row" ng-repeat="val in items | orderBy: 0 :true">
            <div class="col-md-2">
                <h5>{{val[0] | date:'shortDate'}}</h5>
            </div>
            <div class="col-md-9">
                <div class="list-group">
                    <a href="{{post.link}}" 
                      target="_blank" 
                      class="list-group-item" 
                      ng-repeat="post in val[1] | orderBy: 'ordering'">
                    <h4 class="list-group-item-heading">{{post.title}}</h4>
                    <p class="list-group-item-text">{{post.description}}</p>
                    </a>
                </div>
            </div>
        </div>
        <div ng-if="items.length == 0" class="nodocs">
            <h3>No Documents Found</h3>
        </div>
    </div>
</div>
